// global color variables
$base-color:#2408CF4D;
$base-color-1: #4897E6;
$base-color-2: #BE0C68;
$base-color-3: #da5e4227;
$base-color-4:  #be0c68a0;

$base-color-5: #7a3c2e;

$banner-bg: #eee;

$transition: all 0.4s;
